{% extends "layouts/layout.njk" %}

{% block main %}
	{% set inject = {
		title: 'команда',
		pageSectionClass: 'page__section-m',
		sectionInnerClass: ''
	} %}
	{% include "blocks/section/specialists-section.njk" %}

{% endblock %}