{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}
	{% include "blocks/line/menu-line.njk" %}

	{% set inject = {
		title: '',
		pageSectionClass: 'page__bg-banner'
	} %}
	{% include "blocks/section/banner-section.njk" %}

	{% set inject = {
		title: 'компетенції',
		pageSectionClass: ''
	} %}
	{% include "blocks/section/competence-section.njk" %}

	{% set inject = {} %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}