{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}
	{% include "blocks/line/menu-line.njk" %}
	{% include "blocks/section/banner-section.njk" %}

	{% set inject = {} %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}