{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}
	{% include "blocks/line/menu-line.njk" %}

	{% set inject = {
		title: '',
		pageSectionClass: 'page__bg-banner'
	} %}
	{% include "blocks/section/banner-section.njk" %}

	{% set inject = {
		title: 'компетенції',
		pageSectionClass: ''
	} %}
	{% include "blocks/section/competence-section.njk" %}

	{% set inject = {
		title: 'компетенції',
		titleView: 'alt',
		pageSectionClass: 'page__bg-principle'
	} %}
	{% include "blocks/section/principle-section.njk" %}

	{% set inject = {
		title: 'ПРОЄКТИ',
		titleView: 'alt',
		pageSectionClass: ''
	} %}
	{% include "blocks/section/project-section.njk" %}

	{% set inject = {
		title: 'ПЕРЕВАГИ',
		titleView: 'alt',
		pageSectionClass: 'page__bg-benefits'
	} %}
	{% include "blocks/section/benefits-section.njk" %}

	{% set inject = {} %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}