{% extends "layouts/layout.njk" %}

{% block main %}

	{% set inject = {
		title: 'що нового',
		pageSectionClass: 'page__section-m',
		sectionInnerClass: ''
	} %}
	{% include "blocks/section/news-section.njk" %}

{% endblock %}