{% extends "layouts/layout.njk" %}

{% block main %}
	{% set inject = {
		title: 'ПРОЄКТИ',
		pageSectionClass: '',
		pagination: true
	} %}
	{% include "blocks/section/project-section.njk" %}

{% endblock %}