/* Библиотеки */
@import "./lib/smartgrid.scss";

/* INIT */
@import "./preset/reset.scss";
@import "./preset/var.scss";
@import "./preset/mixins.scss";
@import "./preset/fonts.scss";
@import "./preset/animation.scss";

/* Фундоментальные Блоки */
@import "./fundamental/page.scss";
@import "./fundamental/layout.scss";
@import "./fundamental/header.scss";
@import "./fundamental/footer.scss";

/* Блоки */
@import "./blocks/button.scss";
@import "./blocks/input.scss";
@import "./blocks/textarea.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/img.scss";
@import "./blocks/title.scss";
@import "./blocks/icon.scss";
@import "./blocks/link.scss";
@import "./blocks/deco.scss";
@import "./blocks/text.scss";
@import "./blocks/relative-box.scss";
@import "./blocks/block-s.scss";

/* Блоки Верстки */
@import "./custom/logo.scss";
@import "./custom/phone-list.scss";
@import "./custom/lang.scss";
@import "./custom/banner-main.scss";

/* Навигация */
@import "./custom/nav/menu-main.scss";

* {
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow-y: scroll;
}

body {
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
