<div class="dignity-item dignity__item">
	<div class="dignity-item__inner">
		<div class="dignity-item__img-box">
			<img src="./img/dignity/dignity_{{loop.index}}.jpg" alt="{{item.title}}" class="dignity-item__img">
		</div>
		<div class="dignity-item__body">
			<div class="dignity-item__title">{{item.title}}</div>
			<div class="dignity-item__text">{{item.text.slice(1, 120)}}</div>
			<div class="dignity-item__more">
				<a href="#" class="dignity-item__link link">Дивитись</a>
				<div class="icon icon_arrow_long"></div>
			</div>
		</div>
	</div>
</div>