<div class="project">
	<div class="project__inner">

		{% for item in project.project_list %}
			{% include "blocks/project/project-item.njk" %}
		{% endfor %}

	</div>

	{% if inject.pagination %}
		{% include "blocks/pagination/pagination.njk" %}
	{% endif %}
</div>